<section class="error-page theme-bg">
  <div class="container">
    <div class="error-page-inner row">
      <div class="row">
          <div class="col-lg-5 col-xs-12 error-page-image">
              <img src="assets/img/404.png" alt="img">
            </div>
            <div class="col-lg-7 col-xs-12">
                <strong class="error-page-error-title">404</strong>  
                <p class="error-page-error-text">We can't find the page that you looking for.</p>
                <button (click)="goBack()" class="btn btn-danger error-page-error-button">Back to home </button>              
            </div>
      </div>
    </div>
  </div>
</section>